<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <title>Chat</title>

    <link rel="stylesheet" href="/css/home.css" th:href="@{/css/home.css}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>

<nav class="navbar bg-white border-bottom px-3">
    <div class="d-flex align-items-center gap-2">
        <img src="https://viberate-upload.ams3.cdn.digitaloceanspaces.com/prod/entity/artist/vyshel-pokurit-vyshel-pokurit-Nveg0"
            class="rounded-circle" width="40" height="40" alt="avatar">
        <div>
            <div class="fw-semibold" th:text="${user.userName}"></div>
            <p class="text-success">Online</p>
        </div>
    </div>
</nav>

<body style="background: url('/images/iFBeap.webp') no-repeat center center fixed; 
             background-size: cover;">


    <div class="d-flex context">

        <div class="bg-white border-end d-none d-md-flex flex-column chat-list" style="width: 280px;">
            <div class="p-3 border-bottom fw-semibold">
                Chats
            </div>

            <div class="list-group list-group-flush">
                <a th:href="${'/message-get/' + chat.id}" th:each="chat : ${user.chats}">
                    <div class="list-group-item list-group-item-action">
                        <div class="fw-semibold" th:text="${chat.name}"></div>
                        <!-- проверка, чтобы не упасть если сообщений нет -->
                        <small class="text-muted" th:text="${#lists.isEmpty(chat.messages)       
                 ? 'No messages yet' 
                 : chat.messages[chat.messages.size() - 1].message}">
                            <!--индекс последнего элемента-->
                        </small>
                    </div>
                </a>



            </div>
        </div>

        <div class="flex-grow-1 d-flex flex-column " style=" margin: auto; height: 100%;">

            <nav class="navbar bg-white border-bottom px-3">
                <div class="d-flex align-items-center gap-2">
                    <img src="https://randomuser.me/api/portraits/men/32.jpg" class="rounded-circle" width="40"
                        height="40" alt="avatar">
                    <div>
                        <div class="fw-semibold" th:text="${chatName}"></div>
                        <p class="text-success m-0">Online</p>
                    </div>
                </div>
            </nav>

            <div class="flex-grow-1 messages-container  p-3" id="messages">
                <div class="row pb-3" th:each="msg : ${messages}">
                    <div class="col-12 d-flex justify-content-start " th:if="${user.userName != msg.author}">

                        <div class="message p-3 rounded-4 shadow-sm " style="background-color: rgb(233, 233, 233);">
                            <div class="small fw-semibold mb-1" th:text="${msg.author}"></div>
                            <p th:text="${msg.message}"></p>
                        </div>

                    </div>
                    <div class="col-12 d-flex justify-content-start justify-content-sm-end justify-content-xl-start "
                        th:if="${user.userName == msg.author}">

                        <div class="message p-3 rounded-4 shadow-sm " style="background-color: #abc0df">
                            <div class="small fw-semibold mb-1" th:text="${msg.author}"></div>
                            <p th:text="${msg.message}"></p>
                        </div>

                    </div>
                </div>





            </div>

            <div class="p-3">
                <div class="input-group input-group-sm">
                    <input type="text" class="clean-input w-400" id="message-input" placeholder="Message...">
                    <button id="inputGroup-sizing-sm" class="btn-clean-send-left">Send</button>
                </div>
            </div>

        </div>

    </div>

    <script>



        const messages = document.getElementById("messages");
        messages.scrollTop = messages.scrollHeight;

        const button = document.getElementById("inputGroup-sizing-sm")
        const input = document.getElementById("message-input")

        button.addEventListener("click", sendMessage)




        function sendMessage() {

            const message = input.value.trim();


            if (!message) {
                console.log("Empty message");
                return;
            }

            fetch(window.location.pathname + "/send", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ message })
            }).then(response => {
                if (!response.ok) {
                    throw new Error("Server error");
                }
                return response.json();
            })
                .then(msg => {
                    console.log("RECEIVED FROM SERVER:", msg);
                    parseMessage(msg)
                })
                .catch(error => {
                    console.error(error);
                });

            input.value = "";

        }
        function parseMessage(msg) {
            const messages = document.getElementById("messages");

            const html = `
                    <div class="row pb-3">

                        <div class="col-12 d-flex justify-content-start justify-content-sm-end justify-content-xl-start">

                            <div class="message p-3 rounded-4 shadow-sm" style="background-color: #abc0df">

                                <div class="small fw-semibold mb-1">
                                    ${msg.author}
                                </div>

                                <p>
                                    ${msg.message}
                                </p>

                            </div>

                        </div>

                    </div>
                    `;

            messages.insertAdjacentHTML("beforeend", html);
            messages.scrollTop = messages.scrollHeight;
        }
        const stompClient = new StompJs.Client({
            brokerURL: 'ws://26.245.198.204:8080/admin-websocket',
        });
        stompClient.activate();
        stompClient.onConnect = (frame) => {


            console.log('Connected: ' + frame);


            stompClient.subscribe('/topic/greetings', (message) => {
                console.log(message.body)
                console.log(JSON.parse(message.body).message)
                 Toastify({
                    avatar: "https://cdn-icons-png.flaticon.com/512/149/149071.png",
                    text: JSON.parse(message.body).message,
                    duration: 3000,
                    close: false,
                    gravity: "bottom", // `top` or `bottom`
                    position: "right", // `left`, `center` or `right`
                    stopOnFocus: true, // Prevents dismissing of toast on hover
                    style: {
                        background: "linear-gradient(to right, #00b09b, #96c93d)",
                    },
                    onClick: function () { } // Callback after click
                }).showToast()
            
            });



        };

    </script>
</body>

</html>